---
import MainMenu from './menus/MainMenu.astro';
import { Image } from 'astro:assets';
import Grboseologo01 from '../media/Grboseo_logo-01.svg';

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<header class:list={["px-4 py-4", className]}>
    <div class="max-w-5xl mx-auto flex items-center justify-between">
        <!-- You can add your logo here -->
        <a href="/" class="block cursor-pointer">
             <Image src={Grboseologo01} alt="Grboseo" class="h-12 w-auto" />
        </a>
        
        <!-- Menu Area (Right Aligned) -->
        <MainMenu />
    </div>
</header>
